/* Define the first scaling animation */
@keyframes scaleAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

/* Apply the first animation to .float1 */
.float1 {
  animation: scaleAnimation 3s infinite ease-in-out;
}

/* Define the second scaling animation */
@keyframes scaleAnimation2 {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(0.5);
  }
}

/* Apply the second animation to .float2 */
.float2 {
  animation: scaleAnimation2 4s infinite ease-in-out;
}
